@{
  Layout = "_Layout";
}
@using Vendors.Models

<h5>Add a new order to @Model.Name</h5>
<div>
  <form action="/vendors/@Model.Id/orders" method="post">
    <input id="vendors" name="vendors" type="hidden" value="@Model.Name">
    <label for="orderTitle">Order Title:</label>
    <input type="text" name="orderTitle" id="title">
    <label for="orderDesc">Order Description:</label>
    <input type="text" name="orderDesc" id="title">
    <label for="price">Order Price:</label>
    <input type="text" name="price" id="title">
    <label for="orderDate">Order Date:</label>
    <input type="date" name="orderDate" id="title">
    <button type="submit">Submit</button>
  </form>
</div>
<p><a href='/vendors/@Model.Id/orders'>Back to all orders with @Model.Name</a></p>
<p><a href="/vendors">Back to all vendors</a></p>
