@{
  Layout = "_Layout";
}
@using Vendors.Models

<h3>Add a new order to @Model.Name</h3>
<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendors" name="vendors" type="hidden" value="@Model.Name">
  <label for="title">Order Name:</label>
  <input type="text" name="titles" id="title">
  <button type="submit">Submit</button>
</form>
<p><a href="/vendors">Back to vendors</a></p>
