@{
  Layout = "_Layout";
}
<h5>@Model["vendors"].Name Order Details: </h5>

    <p>Name: @Model["orders"].Name</p>


    <a href='/vendors/@Model["vendors"].Id/orders/new'>Add another Order</a>
    <br>
    <a href='/vendors'>View all vendors</a>