@{
  Layout = "_Layout";
}
<h3>Order Details: </h3>

    @* <h4>Title: @Model["orders"].Title</h4>
    <h4>vendors: @Model["vendors"].Name</h4> *@

    <a href='/vendors/@Model["vendors"].Id/orders/new'>Add another Order</a>
    <br>
    <a href='/vendors'>View all vendors</a>