@{
  Layout = "_Layout";
}
@using Vendors.Models;



@if (@Model.Count == 0)
{
  <h5>You have no vendors! Add a vendor to get started. </h5>
} else
{
  <p>Click a vendor to access their order details:</p>
  <h5>Vendors:</h5>
  <ul>
    @foreach (Vendor element in Model)
    {
      <li><a href='/vendors/@element.Id'>@element.Name</a>: @element.Desc</li>
    }
  </ul>
}
<form action="/vendors/new" method="get">
  <button class="btn btn-primary btn-lrg">Add a Vendor!</button>
</form>

<form action="/vendors/delete" method="post">
  <button type="submit" name="button" class="btn btn-primary btn-lrg">Clear All Vendors</button>
</form>


