@{
  Layout = "_Layout";
}
@using Vendors.Models;

<h5>Here are all the orders from <strong>@Model["vendors"].Name:</strong> </h5>

  @if (@Model["orders"].Count == 0)
{
  <p>This vendor has no orders yet. </p>
} else
{
  <p>Click an order to access it's details:</p>
  <h5>Orders:</h5>
  <ol>
    @foreach (Order element in Model["orders"])
    {
      <li><a href='/vendors/@Model["vendors"].Id/orders/@element.Id'>@element.Title:</a> </li>
      <ul>
        <li>@element.Desc</li>
      </ul>
    }
  </ol>
}
<form action='/vendors/@Model["vendors"].Id/orders/new' method="get">
  <button class="btn btn-primary btn-lrg">Add an Order</button>
</form>
<p><a href="/vendors">Back to all vendors</a></p>
