@{
  Layout = "_Layout";
}
<h5>This application will let you view your vendors, add more vendors, and add orders to specific vendors. An easy way to track all your orders.</h5>
<form action="/vendors" method="get">
  <button class="btn btn-primary btn-lrg">View your vendors</button>
</form>

