@{
  Layout = "_Layout";
}
<h3></h3>
<form action="/vendors/new" method="get">
  <button class="btn btn-primary btn-lrg">Add a vendor!</button>
</form>
<form action="/vendors" method="get">
  <button class="btn btn-primary btn-lrg">View your vendors</button>
</form>

